<div class="app-container">
  <!-- Top Navigation Bar -->
  <mat-toolbar color="#005cbb" class="toolbar">
    <button
      mat-icon-button
      (click)="sidenav.toggle()"
      *ngIf="isAuthenticated()"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span class="app-title">JK Tech Document Management</span>
    <span class="spacer"></span>
    <ng-container *ngIf="authService.currentUser$ | async as user">
      <button class="user-button" mat-button [matMenuTriggerFor]="userMenu">
        <span class="avatar-circle">
          {{
            user.full_name.split(" ")[0][0] + user.full_name.split(" ")[1][0]
          }}
        </span>
        <!-- <mat-icon>arrow_drop_down</mat-icon> -->
      </button>
      <mat-menu #userMenu="matMenu">
        <button mat-menu-item (click)="onLogout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </ng-container>
  </mat-toolbar>

  <!-- Side Navigation -->
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      #sidenav
      [opened]="isAuthenticated()"
      mode="side"
      class="sidenav"
    >
      <mat-nav-list>
        <a mat-list-item routerLink="/documents" routerLinkActive="active">
          <mat-icon>folder</mat-icon>
          <span>Documents</span>
        </a>
        <a mat-list-item routerLink="/ingestions" routerLinkActive="active">
          <mat-icon>cloud_upload</mat-icon>
          <span>Ingestions</span>
        </a>
        <a
          mat-list-item
          routerLink="/users"
          routerLinkActive="active"
          *ngIf="isAdmin()"
        >
          <mat-icon>people</mat-icon>
          <span>Users</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <!-- Main Content -->
    <mat-sidenav-content class="content">
      <div class="content-container">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
